<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Where can you park without getting a ticket?
  </h1>
</div>

<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">
  
  <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">
      
    <agm-info-window>
      <strong>InfoWindow content</strong>
    </agm-info-window>
    
  </agm-marker>
</agm-map>

<div id="app.component" class="likelihoodIndicator">
  <h1>  On average {{ likeLihoodIndicator.likelihood }} </h1>
  <h1>cars are given a parking ticket here each day </h1>
</div>
